# Copia este archivo como .env para ejecutar el backend localmente.
# Es para subirlo al git hub y cuidar las crendenciales

# Puerto fijo asignado a webPuntoVenta.
PORT=3003

# Dirección local del frontend React + Vite.
CORS_ORIGIN=http://localhost:8443

# Configuracion de PostgresSQL
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_DB=punto_venta
POSTGRES_USER=tu_usuario
POSTGRES_PASSWORD=tu_contrasena

# configuracion de MongoDB
MONGODB_URI=mongodb://tu_usuario:tu_contrasena@127.0.0.1:27017/?authSource=admin
MONGO_DB_NAME=punto_venta_documentos
